@model IEnumerable<Category>
@{
    Layout = "~/Views/Service/ServiceLayout.cshtml";
    ViewData["Title"] = "Тарифы услуг";

}
<div class="container mainContent">
    <div class="row">
        <div class="col-md-8 mainBlock">
            <h2>Индивидуальный Пакет</h2>
            <h5>Cоберите свой пакет услуг</h5>
            <div class="container">
                @foreach (var item in Model.Where(c => !c.ParentID.HasValue))
                {
                    var subCategories = Model.Where(m => m.ParentID.HasValue && m.ParentID == item.CategoryID).ToList();
                    if (item.Code != "6")
                    {
                        <div class="row" style="clear:both">
                            <h3>@item.Name</h3>
                        </div>
                    }

                    if (subCategories.Any())
                    {
                        foreach (var subCategory in subCategories)
                        {
                            <div class="row" style=" display:-webkit-inline-box;">
                                <div class="col-md-2">
                                    <strong style="text-align:right">@subCategory.Name</strong>
                                </div>
                                @foreach (var service in subCategory.Services)
                                {
                                    <div class="col-md-2 serviceBox" data-id="@service.ServiceID">@service.Name</div>
                                }
                            </div>

                        }
                    }

                    <div class="row" style=" display:-webkit-inline-box;">
                        @foreach (var service in item.Services)
                        {
                            <div class="col-md-2 serviceBox">@service.Name</div>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="col-md-4 mainBlock receiptBlock">
            <div class="container">
                <h1>ВАШ ПАКЕТ</h1>
                <div class="col-md-2 serviceBox">Lorem ipsum Lorem ipsum Lorem ipsum</div>
            </div>
        </div>
    </div>
</div>



